# Cache do Python
__pycache__/
*.pyc

# Arquivos gerados pelo ANTLR (exceto a gramática .g4)
*.interp
*.tokens
CalculatorListener.py
CalculatorParser.py
CalculatorVisitor.py

# Cache do ANTLR
.antlrcache/

# Bibliotecas e arquivos de IDE
*.jar
.vscode/